# A. Join data csv menggunakan pandas

## A.1. Import library pandas

In [48]:
import pandas as pd

2. Upload file csv

* sample-listing-properti-1.csv
* sample-listing-properti-2.csv

In [49]:
df1 = pd.read_csv('sample-listing-properti-1.csv')
df2 = pd.read_csv('sample-listing-properti-2.csv')

In [50]:
df1

    Agent      Jenis                                       NamaProperti
0  Agent1      Rumah  Dijual Rumah 3 Lantai Minimalis Villa Mutiara ...
1  Agent2      Rumah   Jual Rumah Baru tipe 45/72 Bisa KPR Proses Mudah
2  Agent3      Rumah  Jual Rumah Baru tipe 60 sekitar Pamulang Tange...
3  Agent4      Rumah            Rumah Siap Huni Cluster Mutiara 1 Curug
4  Agent5      Rumah                 Semesta parayasa rumah type 36/102
5  Agent6  Apartemen           Dijual Apartemen The Habitat Tipe Studio

In [51]:
df2

    Agent   Harga                                               link
0  Agent1   2.5 M  https://property145.com/property/detail/Dijual...
1  Agent2  450 jt  https://property145.com/property/detail/Jual-R...
2  Agent3  570 jt  https://property145.com/property/detail/Jual-R...
3  Agent4  550 jt  https://property145.com/property/detail/Rumah-...
4  Agent5  477 jt  https://property145.com/property/detail/Semest...
5  Agent7   1.0 M  https://property145.com/property/detail/Jual-a...

## A.2. Inner Join

Inner Join merupakan perintah untuk menampilkan semua data yang mempunyai nilai sama dari dua table ataupun lebih.

In [52]:
inner_join = pd.merge(df1, 
                      df2, 
                      on ='Agent', 
                      how ='inner')

# Tampilkan tabel
inner_join

,Agent,Jenis,NamaProperti,Harga,link
0,Agent1,Rumah,Dijual Rumah 3 Lantai Minimalis Villa Mutiara ...,2.5 M,https://property145.com/property/detail/Dijual...
1,Agent2,Rumah,Jual Rumah Baru tipe 45/72 Bisa KPR Proses Mudah,450 jt,https://property145.com/property/detail/Jual-R...
2,Agent3,Rumah,Jual Rumah Baru tipe 60 sekitar Pamulang Tange...,570 jt,https://property145.com/property/detail/Jual-R...
3,Agent4,Rumah,Rumah Siap Huni Cluster Mutiara 1 Curug,550 jt,https://property145.com/property/detail/Rumah-...
4,Agent5,Rumah,Semesta parayasa rumah type 36/102,477 jt,https://property145.com/property/detail/Semest...

In [53]:
# Simpan ke file csv dengan nama 'inner_join.csv'
inner_join.to_csv(r'inner_join.csv', index=False)

## A.3. Outer Join

Pada Outer Join, data pada kedua tabel akan ditampilkan semua.

In [54]:
outer_join = pd.merge(df1, 
                      df2, 
                      on ='Agent', 
                      how ='outer')

# Tampilkan tabel
outer_join

,Agent,Jenis,NamaProperti,Harga,link
0,Agent1,Rumah,Dijual Rumah 3 Lantai Minimalis Villa Mutiara ...,2.5 M,https://property145.com/property/detail/Dijual...
1,Agent2,Rumah,Jual Rumah Baru tipe 45/72 Bisa KPR Proses Mudah,450 jt,https://property145.com/property/detail/Jual-R...
2,Agent3,Rumah,Jual Rumah Baru tipe 60 sekitar Pamulang Tange...,570 jt,https://property145.com/property/detail/Jual-R...
3,Agent4,Rumah,Rumah Siap Huni Cluster Mutiara 1 Curug,550 jt,https://property145.com/property/detail/Rumah-...
4,Agent5,Rumah,Semesta parayasa rumah type 36/102,477 jt,https://property145.com/property/detail/Semest...
5,Agent6,Apartemen,Dijual Apartemen The Habitat Tipe Studio,NaN,NaN
6,Agent7,NaN,NaN,1.0 M,https://property145.com/property/detail/Jual-a...

In [55]:
# Simpan ke file csv dengan nama 'outer_join.csv'
outer_join.to_csv(r'outer_join.csv', index=False)

## A.4. Left Join

Left Join merupakan cara menghubungkan tabel dan menampilkan semua data (kiri) pada tabel yang tidak berhubungan, sedangkan data yang kosong akan bernilai NULL.

Dalam hal ini, df1 sebagai referensi.

In [56]:
left_join = pd.merge(df1, 
                     df2, 
                     on ='Agent', 
                     how ='left')

# Tampilkan tabel
left_join

,Agent,Jenis,NamaProperti,Harga,link
0,Agent1,Rumah,Dijual Rumah 3 Lantai Minimalis Villa Mutiara ...,2.5 M,https://property145.com/property/detail/Dijual...
1,Agent2,Rumah,Jual Rumah Baru tipe 45/72 Bisa KPR Proses Mudah,450 jt,https://property145.com/property/detail/Jual-R...
2,Agent3,Rumah,Jual Rumah Baru tipe 60 sekitar Pamulang Tange...,570 jt,https://property145.com/property/detail/Jual-R...
3,Agent4,Rumah,Rumah Siap Huni Cluster Mutiara 1 Curug,550 jt,https://property145.com/property/detail/Rumah-...
4,Agent5,Rumah,Semesta parayasa rumah type 36/102,477 jt,https://property145.com/property/detail/Semest...
5,Agent6,Apartemen,Dijual Apartemen The Habitat Tipe Studio,NaN,NaN

In [57]:
# Simpan ke file csv dengan nama 'left_join.csv'
left_join.to_csv(r'left_join.csv', index=False)

## A.5. Right Join

Right Join, fungsi ini hampir sama dengan fungsi Left Join ataupun kebalikannya, dimana Right Join akan menghubungkan tabel dan menampilkan semua data (kanan) pada tabel yang tidak berhubungan, dan data yang kosong akan bernilai NULL.

In [58]:
right_join = pd.merge(df1, 
                      df2, 
                      on ='Agent',
                      how ='right')

# Tampilkan tabel
right_join

,Agent,Jenis,NamaProperti,Harga,link
0,Agent1,Rumah,Dijual Rumah 3 Lantai Minimalis Villa Mutiara ...,2.5 M,https://property145.com/property/detail/Dijual...
1,Agent2,Rumah,Jual Rumah Baru tipe 45/72 Bisa KPR Proses Mudah,450 jt,https://property145.com/property/detail/Jual-R...
2,Agent3,Rumah,Jual Rumah Baru tipe 60 sekitar Pamulang Tange...,570 jt,https://property145.com/property/detail/Jual-R...
3,Agent4,Rumah,Rumah Siap Huni Cluster Mutiara 1 Curug,550 jt,https://property145.com/property/detail/Rumah-...
4,Agent5,Rumah,Semesta parayasa rumah type 36/102,477 jt,https://property145.com/property/detail/Semest...
5,Agent7,NaN,NaN,1.0 M,https://property145.com/property/detail/Jual-a...

In [59]:
# Simpan ke file csv dengan nama 'right_join.csv'
right_join.to_csv(r'right_join.csv', index=False)